<section class="principal">

    <div class= "uno">
    </div>


<div class= "dos">

<h1 class="titulo1">Esta podria se la casa de tus sueño<br>
<p> ¿Qué estas esperando? <h1>
</div>



</section>



<section class="segundo">

    <div class= "tercero">
<h1 class="titulo2">Las casas con las mejores tecnologias<br> <h1>
</div>
<div class= "cuarto"></div>

</div>
</section>  